.categories-button {
    background-color: aliceblue;   
    font-weight: 600; 
}

.category-selected { 
    border: 5px solid #83c1d9;
}

.categories-button:hover {
    background-color: #83c1d9;
    color: aliceblue;
    
}

.categories-category_img {
    position: relative;
    top: 15px;
    width: 150px;
    height: 150px;
}

.maincard-category_text {
    position: relative;
    border-top: 1px solid #212529;
    border-bottom: 1px solid #212529;
    background-color: aliceblue;
    font-weight: 800;
    font-size: larger;
    top: -70px;
}

.maincards-category_container { 
    padding: 10px;
    border: 7px double rgb(131,193,217);
}

.categories-category_img:hover {
    width: 300px;
    height:300px;
}
