.footer-top {
    display: block;
    background-color: rgb(131,193,217);
    height: 15px;
}
.footer-container {
    margin-top: 20px;
    flex-direction: row;
    padding: 20px;
    
}

.footer-container_left {
    width: 65%
}

.footer-container_rigth {
    width: 35%;
}

.footer-data-logo {
    width: 25%;
}

.footer-text_adress {
    margin: 0
}


.footer-data_img {
    margin: 10px;
}
.footer-logo-expand {
    display: flex;
}

.footer-text {    
    color: aliceblue;
    font-size: 1.23rem;
    text-transform: uppercase;
}

.footer-data_text {
    width: 100%;
    justify-content: center;
}

.footer-contact-text {
    width: 75%;
} 

.footer-logo_text {
    text-transform: capitalize;
    font-size: x-large;
    color: aliceblue;
}

.logo-text_blue {
    color: rgb(131,193,217);
}

.footer-icon {
    color: rgb(131,193,217);
    cursor: pointer;
    border-radius: 50%;
}
.footer-icon:hover {
    box-shadow: 5px 5px 5px 0px aliceblue;
-webkit-box-shadow: 5px 5px 5px 0px aliceblue;
-moz-box-shadow: 5px 5px 5px 0px aliceblue;
}

@media screen and (max-width: 1155px) {
   .footer-container{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    
   }
   .footer-container_left{
    width: 100%; 
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin-top: 20px;
   }

.footer-container_rigth {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-data_text {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-data-logo {
    display: flex;    
    justify-content: center;
    align-items: center;
    
}


.footer-contact-text{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
  
}