.main-carousel_text {
    top: 15%;
}

.carousel {
    margin: 0 auto;
 }

.main-carousel_text h3 {
    color: #83c1d9;
    text-transform: uppercase   ;
    font-size: 500%;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);;
}

.main-carousel_text p {
    font-size: 270%;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);;
}

.main-carousel_img {
    margin: 0 auto;
    display: block;
    width: 75%;
}

.main-img{
    width: 15vw;
    align-self: center;
}

.mainimg-text {
    color: white;
}

.maincards-tittle {
    font-size: 2vw;
    padding: 10px;
    background-color: #83c1d9;
    font-weight: 800;
}

.maincards-container {    
    height: 50vh;
}

.maincards-card_container {
    width: 200px;
    background: rgb(131,193,217);
    background: linear-gradient(0deg, rgba(131,193,217,1) 0%, rgba(255,255,255,1) 59%);
    border: 1px solid black;
    border-radius: 30%;    
}

.maincards-card_container:hover {
    cursor: pointer;
    animation-name: transform-scuare;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    border: 5px solid #83c1d9;
     
}



.maincard-card_click {
    color: #212529;
    position: relative;
    border-top: 1px solid #212529;
    border-bottom: 1px solid #212529;
    background-color: aliceblue;
    opacity: .5;
    font-weight: 800;
    font-size: larger;
    animation-name: move-down;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.maincard-card_text {
    background-color: #83c1d9;
    border-top: 1px solid #212529;
    border-bottom: 1px solid #212529;
}

.maincard-card_button {
    color: white;
    background-color: #212529;
}

.maincard-card_button:hover {
    background-color: #3b3e41;
    border: 5px solid #83c1d9;
}

.main-category_link {
    text-decoration: none;
}


@media screen and (max-width: 1191px) {
    .maincards-container{
        height: auto;
    }
    
}

@media screen and (max-width: 991px) {
    .main-carousel_text h3 {
        font-size: 400%;
       
    }
    
    .main-carousel_text p {
        font-size: 230%;
       
    }

    .maincards-tittle {
        font-size: 4vw;
     
    }
}

@media screen and (max-width: 720px) {
    .main-carousel_text h3 {
        font-size: 300%;
       
    }
    
    .main-carousel_text p {
        font-size: 170%;
       
    }
    
}

@media screen and (max-width: 520px) {
    .main-carousel_text h3 {
        font-size: 200%;
       
    }
    
    .main-carousel_text p {
        font-size: 110%;
       
    }
    
}

@media screen and (max-width: 301px) {
    .main-carousel_text h3 {
        font-size: 150%;
       
    }
    
    .main-carousel_text p {
        font-size: 90%;
       
    }
    
}

@keyframes transform-scuare {
    0% {
        border-radius: 30% ;
    }
    30% {
        border-radius: 25% ;
    }
    40% {
      border-radius: 20% ;
    }
    50% {
        border-radius: 15% ;
    }
    65% {
      border-radius: 10% ;
    }
    100% {
        border-radius: 5% ;
    }
    last {
        border-radius: 5%;
    }
}

@keyframes move-down {
    0% { top: -110px; }
    100% { top: -30px; }
}